* {box-sizing: border-box;}

.emblem {
    @media screen and (max-width: 640px){
        width: 50vh;
        height: 50vh;
    }
	margin: auto;
	width: 70vh;
    height: 70vh;
	left: 0; 
  	right: 0; 
	border-radius: 50%;
  	font-weight: bold;
	color:  #A4123F;
	animation: spinZ 20s linear infinite;
	text-align: center;
    position: relative;

	span {
		position: absolute;
		display: inline-block;
		left: 0;
		right: 0;
        // text-decoration: underline;
		top: 0;
		bottom: 0;
		text-transform: uppercase;
		font-size: 5vh;
		transition: all .5s cubic-bezier(0,0,0,1);
	}

	@keyframes spinZ {
		0% {
			transform: rotateZ(360deg);
		}
		100% {
			transform: rotateZ(0deg);
		}
	}
}

.img-service {
    position: absolute;
	left: 0; 
	right: 0; 
	margin: auto;
	top: 0;
	bottom: 0;
    width: 56vh;
    height: 56vh;
	@media screen and (max-width: 640px){
        width: 36vh;
        height: 36vh;
    }
}

.img-dash {
	animation-name: rotate;
	animation-duration: 25s;
	margin-left: -150px;
	margin-top: 50px;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

.blog-page-content {
    display: flex;
    height: 100%;
}

.blog-content-left {
    flex-basis: calc(100% - 37.5rem);
    padding: 2rem 2rem 7rem;
    align-items: flex-end;
    display: flex;
	color: var(--text--eglobe--purple);
}

.blog-content-left .blog--text{
	margin-left: .6rem;
}

.blog-content-right {
    flex-basis: 37.5rem;
}

.blog-list {
    height: 50%;
    padding: 2rem;
    display: flex;
    align-items: flex-end;
}

.eglobe-bg-light-purple {
    background: #c6addb;
    color: var(--text--eglobe--purple);
}

.eglobe-bg-dark-purple {
    background: #7f669d;
    color: #d1bde5;
}

.blog--title h1{
	font-size: 5.5rem;
	font-weight: 700;
	margin-bottom: 0;
	line-height: 1;
}

.blog--title h2{
	font-size: 3rem;
	font-weight: 700;
}

.blog-content-right .blog--text{
	color: var(--text-eglobe-light-bg);
}