:root {
    /* --body--bg--color-yellow: #f4ecb3; */
    --body--bg--color-yellow: #fff6bf;
    --body--eglobe-yellow-color: #f1eb9d;
    --text-eglobe-green: #087468;
    --text-eglobe-orange: #f29122;
    --text-eglobe-red-bg: rgb(164, 18, 63);
    --text-eglobe-light-orange: #f3c095;
    --text-eglobe-light-bg: #f9f8e5;
    --eglobe--light--purple: #d1bde5;
    --eglobe--dark--purple: #7f669d;
    --text--eglobe--purple: #675089;
    --form--input--color: rgb(241 235 157 / 75%);
    --form--input--text--color: rgb(8 116 104 / 75%)
}

.bg-form-input{
    background-color: var(--form--input--color);
}

html body {
    background-color: var(--body--bg--color-yellow);
    overflow-x: hidden;
    color: var(--text-eglobe-green);
}

html body.services--page{
    background-color: var(--text-eglobe-green);
    color: var(--body--eglobe-yellow-color);
}

html body.career--page{
    background-color: var(--text-eglobe-light-bg);
    color: var(--text-eglobe-orange);
}

html body.blog--page .blog--top--banner{
    background-color: var(--text-eglobe-light-bg);
}

header {
    background-color: var(--body--bg--color-yellow);
}

html body.services--page header{
    background-color: var(--text-eglobe-green);
    color: var(--body--eglobe-yellow-color);
}

html body.career--page header{
    background-color: var(--text-eglobe-light-bg);
    color: var(--body--eglobe-yellow-color);
}

html body.blog--page header,
html body.hauoli--page header{
    background-color: transparent;
}

.text-eglobe-green {
    color: var(--text-eglobe-green);
}

.text-eglobe-orange {
    color: var(--text-eglobe-orange);
}

.text--eglobe-yellow{
    color: var(--body--eglobe-yellow-color);
}

.bg-eglobe-green{
    background-color: var(--text-eglobe-green);
}

.bg-eglobe-orange{
    background-color: var(--text-eglobe-orange);
}

.border-eglobe-green{
    border-color: var(--text-eglobe-green);
}

.services--page header .site--nav a div,
.services--page header .site--nav p div{
    color: var(--body--eglobe-yellow-color);
}

.services--page header .site--nav a div.text-eglobe-orange{
    color: var(--text-eglobe-orange);
}

.blog--page header .site--nav a div{
    color: var(--text-eglobe-light-bg);
}

.blog--page header .site--nav a div.text-eglobe-orange,
.blog--page header .site--nav p div.text-eglobe-orange{
    color: var(--text-eglobe-green);
}

header .yellow--logo{
    display: none;
}

.services--page header .site--logo{
    display: none;
}

.services--page header .yellow--logo{
    display: block;
    max-width: 8.5rem;
}

body input::placeholder, body textarea::placeholder{
    color: var(--form--input--text--color);
}

.drop--menu--list {
    position: absolute;
    background: var(--text-eglobe-green);
    min-width: 8rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.1rem 0.75rem rgb(0 0 0 / 75%);
}

.drop--menu--list a div {
    padding: 0.75rem 1rem;
    display: block;
    color: var(--text-eglobe-light-bg);
}

.drop--menu--list:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid var(--text-eglobe-green);
    top: -0.5rem;
    left: 0.5rem;
}
.drop--menu--list a:not(:last-child) div {
    border-bottom: 0.0625rem solid var(--text-eglobe-light-bg);
}

.services--page .drop--menu--list{
    background-color: var(--text-eglobe-light-bg);
}
.services--page p .drop--menu--list a > div{
    color: var(--text-eglobe-green);
}
.services--page .drop--menu--list:before{
    border-bottom-color: var(--text-eglobe-light-bg);
}
.services--page .drop--menu--list a:not(:last-child) div {
    border-bottom: 0.0625rem solid var(--text-eglobe-green);
}