* {box-sizing: border-box;}



.emblem {
    @media screen and (max-width: 640px){
        width: 50vh;
        height: 50vh;
    }
	margin: auto;
	width: 70vh;
    height: 70vh;
	left: 0; 
  	right: 0; 
	border-radius: 50%;
  	font-weight: bold;
	color:  var(--text-eglobe-green);
	animation: spinZ 20s linear infinite;
	text-align: center;
    position: relative;

	span {
		position: absolute;
		display: inline-block;
		left: 0;
		right: 0;
        // text-decoration: underline;
		top: 0;
		bottom: 0;
		text-transform: uppercase;
		font-size: 5vh;
		transition: all .5s cubic-bezier(0,0,0,1);
	}

	@keyframes spinZ {
		0% {
			transform: rotateZ(360deg);
		}
		100% {
			transform: rotateZ(0deg);
		}
	}
}

.steps .step-orange:after,
.steps .step-warning.step-orange + .step-warning.step-orange:before{
  background-color: var(--text-eglobe-orange);
}
.img-service {
    position: absolute;
	left: 0; 
	right: 0; 
	margin: auto;
	top: 0;
	bottom: 0;
    width: 56vh;
    height: 56vh;
	@media screen and (max-width: 640px){
        width: 36vh;
        height: 36vh;
    }
}

.img-dash {
	animation-name: rotate;
	animation-duration: 25s;
	margin-left: -150px;
	margin-top: 50px;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

// $total-elements: 7; // msut be an odd number
// $middle-no: ceil($total-elements / 2);
// $tilt: 15deg;
// $gap: 30px;
// $depth: 30px;
$perspective: 800px;
// $bg: #e6e6e6;
$offset: 30px;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
//   background: $bg;
}
.wrapper {
  width: 300px;
  height: 400px;
  perspective: $perspective;
  transform-style: preserve-3d;
}
.txt {
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
//   color: darken($bg, 40%);
}
.rotating-cards {
  position: relative;
  width: 100%;
  height: 100%;
  // transform: rotateX(-75deg);
  transform-style: preserve-3d;
}

.rotating-cards__el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 30px -10px rgba(#000, 1);
  div {
    width: calc(100% + #{$offset * 2});
    height: calc(100% + #{$offset * 2});
    margin-top: - $offset;
    margin-left: - $offset;
    background-size: cover;
    background-position: 50% 50%;
  }

  //   @for $i from 1 through $middle-no - 1 {
  //     &:nth-child(#{$i + 1}) {
  //       transform: translateX(- $gap * $i)
  //          rotateY($tilt * $i)
  //         translateZ(- $depth * $i);
  //     }
  //   }

  //   @for $i from $middle-no + 1 through $total-elements {
  //     &:nth-child(#{$i}) {
  //       transform: translateX($gap * ($total-elements - $i + 1))
  //          rotateY(- $tilt * ($total-elements - $i + 1))
  //         translateZ(- $depth * ($total-elements - $i + 1));
  //     }
  //   }

  // animation-name: stack-rotator;
  // animation-duration: 3.5s;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;

  // @for $i from 1 through $total-elements {
  //   &:nth-child(#{$i}) {
  //     animation-duration: ($i) * 0.5s;
  //   }
  // }
}

// @keyframes stack-rotator {
//   @for $i from 1 through $middle-no - 1 {
//     #{100 / $total-elements * $i}% {
//       transform: perspective(800px)
//         translateX(-$gap * $i)
//         rotateY($tilt * $i)
//         translateZ(-$depth * $i);
//     }
//   }
//   @for $i from $middle-no + 1 through $total-elements {
//     #{100 / $total-elements * ($i - 1)}% {
//       transform: perspective(800px)
//         translateX($gap * ($total-elements - $i + 1))
//         rotateY(-$tilt * ($total-elements - $i + 1))
//         translateZ(-$depth * ($total-elements - $i + 1));
//     }
//   }

//   100% {
//     transform: perspective(800px) translateX(0) rotateY(0) translateZ(0);
//   }
// }
