.line-tabs {
    width: 150px;
    background: transparent; 
    border:0px; 
    padding: 10px 15px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    margin: 0px 0px; 
    cursor: pointer; 
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s; 
  }

  .menu-wrap {
    margin-top: 0px; 
    padding:0px; 
    overflow: auto; 
    white-space: nowrap; 
    width: 100%; 
    height: 75px;
  }

  .tab-line-indicator { 
    margin-left: 0px; 
    top: 0px; 
    position: relative; 
    background-color: #F3C700; 
    height: 5px; 
    width:150px; 
  }