@font-face {
  font-family: "Roboto-Black";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto-Black"), local("Roboto-Black"),
    url("./assets/fonts/Roboto/Roboto-Black.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Roboto-BlackItalic";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto-BlackItalic"), local("Roboto-BlackItalic"),
    url("./assets/fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto-Bold"), local("Roboto-Bold"),
    url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}