name: cd
on:
  push:
    branches: [main]
    
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn
      - name: Build dependencies
        run: yarn build
      - name: Archive development artifact
        uses: actions/upload-artifact@v3
        with:
          name: dist-folder
          path: ./dist/
  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Download artifact
        uses: actions/download-artifact@v3
        with: 
          name: dist-folder
          path: ./dist/
      - name: Deploy to  e-gconsulting
        uses: SamKirkland/FTP-Deploy-Action@4.3.2
        with: 
          server: ftp.e-gconsulting.com
          username: eglobe@e-gconsulting.com
          password: eglobe@e-gconsulting.com
          port: 21
          local-dir: ./dist/
          server-dir: /public_html
