* {box-sizing: border-box;}



.emblem {
    @media screen and (max-width: 640px){
        width: 50vh;
        height: 50vh;
    }
	margin: auto;
	width: 70vh;
    height: 70vh;
	left: 0; 
  	right: 0; 
	border-radius: 50%;
  	font-weight: bold;
	color:  var(--text-eglobe-orange);
	animation: spinZ 20s linear infinite;
	text-align: center;
    position: relative;

	span {
		position: absolute;
		display: inline-block;
		left: 0;
		right: 0;
        // text-decoration: underline;
		top: 0;
		bottom: 0;
		text-transform: uppercase;
		font-size: 5vh;
		transition: all .5s cubic-bezier(0,0,0,1);
	}

	@keyframes spinZ {
		0% {
			transform: rotateZ(360deg);
		}
		100% {
			transform: rotateZ(0deg);
		}
	}
}

.img-service {
    position: absolute;
	left: 0; 
	right: 0; 
	margin: auto;
	top: 0;
	bottom: 0;
    width: 56vh;
    height: 56vh;
	@media screen and (max-width: 640px){
        width: 36vh;
        height: 36vh;
    }
}

.img-dash {
	animation-name: rotate;
	animation-duration: 25s;
	margin-left: -150px;
	margin-top: 50px;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

.dream--section--blocks{
	max-width: 80rem;
	margin: 0 auto;
}
.dream--section--block{
	display: flex;
	flex-wrap: wrap;
}

.dream--section--blocks {
    max-width: 63rem;
    margin: 3rem auto 1.5rem;
	+ .dream--section--blocks{
		margin-top: 1.5rem;
	}
}

.dream--section--block {
    width: 100%;
	margin: 0;
	min-height: 15rem;
}

.dream--section--block--content {
    width: 100%;
    padding: 2rem;
}

.dream--section--block--content ul{
	list-style-type: decimal;
	li{
		padding-left: 2rem;
	}
}

.bg--eglobe--light{
	background-color: #F7DEC2;
	color: #000;
}

.dream--section--block--content h3{
	font-weight: 700;
	font-size: 2.5rem;
	line-height: normal;
	text-transform: uppercase;
} 

.dream--section--block--content p {
    margin: 1.5rem 0;
    font-size: 1.25rem;
}

.join--btn {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.join--btn a {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #001A45;
    padding: 0.5rem 1.5rem;
    display: block;
    min-width: 10rem;
    font-weight: 700;
    text-align: center;
    border-radius: 0.5rem;
	transition: 0.3s;
	&:hover{
		opacity: 0.9;
	}
}

.dreem--section--image.dream--section--block--content {
    padding: 0;
    max-width: 20rem;
}

.long--height--block {
    height: 100%;
	max-height: 59%;
}

.bg--eglobe--light--green{
    background: #C6DFB6;
    color: #000;
}

.bg--eglobe--light--blue{
	background: #B4C8E5;
    color: #000;
}

.long--height--block img {
    height: 100%;
    width: auto;
}

.dream--section--block--two--row,
.dream--section--block--content {
    height: 100%;
}

li {
    padding-left: 2rem;
}

.short--height--block {
    height: 100%;
    max-height: calc(100% - 59% - 1.5rem);
}

.block--img--item{
	max-width: 25rem;
	margin: 0 auto 1rem;
}

.dream--section--block--content p.party--text{
	color: #000;
	font-size: 1.5rem;
}